// color variables
$primary-color: #9b6ec1;
$optional-color: #0070bc;
$primary-color-light: #ede6f3;
$secondary-color: #eefcff;
$white-color: #fff;
// $grey-color: #eaeaea;
$dark-color: #22363b;
$light-dark: #696969;
$grey-color: #f0f0f0;
$font-stack: 'Quicksand', sans-serif;
$border-color: #eee;

// font size variables
$small-size: 0.8rem;
$text-size: 0.85rem;
$default-size: 0.95rem;
$font-lg: 1.1rem;
$font-xl: 1.25rem;
$font-xxl: 1.5rem;
$label-font-size: 1rem;
$font-card-title: 1.1rem;
$card-title-large: 1.2rem;
$res-title-size: 1.2rem;
$font-sec-title: 2rem;
$font-sec-slogan: 1.1rem;
$font-large: 6rem;

// border-raidus variables
$primary-radius: 0.4rem;
$primary-radius-pill: 1rem;

// // bg banner
// $bg-banner: url('../images/bg.jpg');
// $bg-subscribe: url('../images/bg_subscribe.jpg');
